manifest{
  mainScript = 'main.nf'
  description = 'Testing script'
}

params {
    cpus = 4
}

profiles {
    local {
        executor {
            name = 'local'
            cpus   = params.cpus
            memory = '4 GB'
        }
        process{
            withName: sayHello {
                cpus = params.cpus.intdiv(2)==0?1:params.cpus.intdiv(2)
            }
        }
    }
}
